name: Parklife

on:
  # Allow manually triggering a build.
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
    - uses: actions/setup-node@v6
      with:
        node-version: 22
        cache: npm
        cache-dependency-path: package-lock.json
    - uses: actions/configure-pages@v5
      id: pages
    - name: Rux Transpile
      run: bin/rails rux:transpile

      # Build with Parklife and use its GitHub Pages URL (either its custom
      # domain or username.github.io/repository).
    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v3
      with:
        limit-access-to-actor: true
    - name: Build
      run: bin/static-build --base "${{ steps.pages.outputs.base_url }}"

    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: build/

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    concurrency:
      group: deploy
      cancel-in-progress: true
    steps:
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
